/* {
    border: 1px black solid;
   
}
*/

h1 {
  margin-left: 1rem;

  
}
h2{
  font-size:1.5rem;
}

body {
  background-color:#bdb4af; 
 
}
.navbar-brand {
  display:flex;
  font-family: 'belligerent_madnessregular';
  font-size: 2rem;
  color: #F3E9F1;
 }

.navbar {
  background-color: #F3E9F1;
  position: fixed;
  z-index: 2; }

.foot {
  background-color: #F3E9F1;
   }

.jumbotron {
  background-color: #797478;
  color: #F3E9F1;
  font-size: 2rem;
  font-family: 'belligerent_madnessregular';
  padding-top: 6rem; }

.carousel {
  max-width: 30rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem; }

.teddies {
    margin: 8rem 2rem 2rem 2rem ;
    display: flex;
    
}

.teddiesDetails {
  justify-content: center;

}



.card-body {
    display:flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem 2rem ;
    border: 1px solid rgb(168, 123, 123)
}

.cardListe { 
  box-shadow: rgb(139, 70, 141) 1px 1px 5px 0px;
  margin-bottom: 2rem; 
  
  }

.card-text {
  display:flex;
  justify-content: center;
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
  text-align: justify;

}
.prix {
  font-size:1.7rem;
}
.infoListe {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
   margin-bottom: 0;
  font-size: 0.8rem;
  font-weight:lighter ;
}


.prixListe {
  display:flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: right;
}

#infoListePrix {
  margin-top:2rem;
  background:linear-gradient( #c5a5fc 50%, #FFFFFF  );
  border-radius: 2% 2% 0 0;

}



.link {
  text-decoration: none;
}

.cardDetail {
  width : 100%;
}
.logoPanier{
  display:flex;
  flex-direction: column;
   align-items: center;
  text-align: center;
 width:2rem;
}
.pastillePanier{
  margin:0;
  display:flex;
  flex-direction: column;
  font-size:0.6rem;
  font-weight: bolder;
  background-color: rgb(218, 175, 97);
  border-radius: 75%;
  width: 1rem
}

.btn-white{
  font-size:0.6rem
}

.prixOurs, .prixTotalOurs{
   font-size:1.5rem
}

.table td {
  color:rgb(85, 9, 66);
  vertical-align: middle;
}


.nbOurs {
  width:4rem;
}
